[class*='col-']{
	float:left;
	padding: 0;
	text-align: center;
}

.grid{
	margin-bottom: 1rem;
}

.col-1of2{
	width: 50%;
}

.col-1of24{
	width: 4.1666%;
}

.col-2of24{
	width:8.3333%;
}

.col-3of24{
	width:12.5%;
}

.col-4of24{
	width:16.6666%;
}

.col-5of24{
	width:20.8333%;
}

.col-6of24{
	width:25%;
}

.col-3of11{
	width:27.2727%;
}

.col-1of3{
	width: 33.3333%;
}

.col-1of6{
	width: 16.66667%;
}

.col-1of4{
	width: 25%;
}
.col-2of4{
	width: 50%;
}
.col-3of4{
	width: 75%;
}

.col-1of5{
	width: 20%;
	position: fixed;
}

.col-oneof5,.col-oneoffive{
	width: 20%;
}

.col-twooffive{
	width: 40%;
}


.col-3of5{
	width: 60%;
}
.col-4of5{
	width:80%;
	margin-left: 18.5%;
}

.grid:after{
	content:"";
	display:block;
	clear: both;
}

*,*:after, *:before;{
	-webkit-box-sizing:border-box;
	-moz-box=sizing:border-box;
	box-sizing:border-box;
}

@media(max-width: 1100px){
	body{
	margin: 0 2rem 0 2rem;
	/*padding: 1rem 4rem 2rem 4rem;*/
	}
/*	img.menu{
		width: 80%;
	}
	img#unselected.menu{
		width: 80%;
		height:80%;
	}*/
}

/*Tablet size*/
@media(max-width: 900px){
	body{
		margin-left: 0;
		margin-right: 0;
	}

	.col-1of5{
		width:28%;
	}

	#aboutus,#history,#news,#events,#promotion{
		width:90%;
	}

	h1.global,h1.topFive{
		font-size: 1.7rem;
	}

	p.homeNrow,p.homepromo,p.aboutus,p.history,p.news,
	p.promotion,p.events{
		font-size: 0.85rem;
	}

	p.homeside,p.homesideonpage{
		font-size: 0.8rem;
	}

	p.cartNrow{
		font-size:0.85rem;
	}

	p.cartProw{
		font-size: 0.85rem;
		/*margin-right: 0;*/
	}
	p.cartDrow{
		font-size: 0.75rem;
		width: 90%;
		/*margin-right: 0;*/
	}



	img.about{
		width:100%;
	}
	img.homebottom{
		width:90%;
	}
	img.logo{
		width:100%;
	}


	img.menu{
		width:95%;
	}
	img#unselected.menu{
		width: 95%;
		height: 95%;
	}

	img#selected.menu{
		width:85%;
		height: 85%;
	}


	

	#content,#content2{
		padding-left: 0.5rem;
		padding-right:0.5rem;
	}

	header,div#mobile{
		padding-left: 0.5rem;
		width:98%;
	}
}

/*-------------------- phone size -------------------- */

@media(max-width: 400px){
	#content{
		padding-top: 10rem;
	}

/*---------- Columns ----------*/
	.col-1of2{
		width: 100%;
	}
	.col-1of3{
		width: 100%;
	}
	#menu.col-1of3{
		width: 50%;
	}
	.col-oneof5{
		width: 50%;
	}
	.col-6of24{
		width: 225px;
	}

	.col-1of5{
		width: 100%;
		top:55px;
		padding-top: 2rem;
		background-color: white;
	}
	.col-4of5{
		margin-left: 0;
		width: 100%;
		background-color: white;
	}
/*---------- End Of Columns ----------*/

/*---------- ids ----------*/
	#aboutus,#history,#news,#promotion,#events,#cartnoodles,#soup,
	#drinks,#dessert{
		padding-left: 0;		
	}

/*---------- End Of ids ----------*/


/*---------- a tags ----------*/

	a.side{
		width: 43%;
		margin-right: 0.5rem;
		margin-bottom: 0;
		font-size: 0.9rem;
		padding: 0.5rem;
	}

	a#newsmobile.side{
		width:26.5%;
	}

	a#cartnoodlesbutton.side,a#soupbutton.side,a#drinksbutton.side,
	a#dessertbutton.side{
		width: 18%;
	}


/*---------- End of a tags ----------*/

/*---------- h tags ----------*/
	h1.global,h1.topFive{
		font-size: 1.5rem;
	}

	h2{
		font-size: 0.8rem;
	}

	h3{
		font-size: 1rem;
	}
/*---------- End of h tags ----------*/

/*---------- Paragraphs ----------*/
	p.homesideonpage,p.homeside{
		width: 26%;
		font-size: 0.5rem;
	}

	p.homesideonpage:hover,p.homeside:hover{
		width:26%;
	}

	p.homepromo{
		font-size: 0.75rem;
		margin-bottom: 0;
	}

	p.aboutus,p.history,p.news,p.promotion,p.events{
		font-size: 0.75rem;
	}





/*---------- End of Paragraphs ----------*/
	nav#mobile a{
		text-align: center;
		font-size: 0.8rem;
	}




/*---------- Image ----------*/
	img.logo{
		margin-top: 1rem;
	}
	img.home{
		width:368px;
		height: 250px;
		margin-top: 1rem;
		float: left;
	}

	img.homeside{
		height:20px;
	}

	img.homebottom{
		width: 170px;
	}

	img.news{
		width: 100%;
	}

	img.menu{
		text-align: center;
		display: block;
		width:175px;
	}

/*	img#newP{
		width: 100%;
	}*/

/*---------- End of Image ----------*/
	header{
		display: none;
	}

/*---------- div Tags ----------*/
	div#mobile{
		padding-top: 0;
		margin-bottom: 0;
	}
/*---------- End of div Tags ----------*/


}	
/*-------------------- end of phone size -------------------- */

@media(min-width:401px){
	div#mobile{
		display: none;
	}
}


