[class*='col-']{
	float:left;
	padding: 0;
	text-align: center;
}

.grid{
	margin-bottom: 1rem;
}

.col-1of2{
	width: 50%;
}

.col-1of24{
	width: 4.1666%;
}

.col-2of24{
	width:8.3333%;
}

.col-3of24{
	width:12.5%;
}

.col-4of24{
	width:16.6666%;
}

.col-5of24{
	width:20.8333%;
}

.col-6of24{
	width:25%;
}

.col-3of11{
	width:27.2727%;
}

.col-1of3{
	width: 33.3333%;
}

.col-1of6{
	width: 16.66667%;
}

.col-1of4{
	width: 25%;
}
.col-2of4{
	width: 50%;
}
.col-3of4{
	width: 75%;
}

.col-1of5{
	width: 20%;
	position: fixed;
}

.col-oneof5{
	width: 20%;
}

.col-3of5{
	width: 60%;
}
.col-4of5{
	width:80%;
	margin-left: 18.5%;
}

.grid:after{
	content:"";
	display:block;
	clear: both;
}

*,*:after, *:before;{
	-webkit-box-sizing:border-box;
	-moz-box=sizing:border-box;
	box-sizing:border-box;
}

@media(max-width: 1100px){
	body{
	margin: 0 2rem 0 2rem;
	/*padding: 1rem 4rem 2rem 4rem;*/
	}
/*	img.menu{
		width: 80%;
	}
	img#unselected.menu{
		width: 80%;
		height:80%;
	}*/
}

/*Tablet size*/
@media(max-width: 900px){
	body{
		margin-left: 0;
		margin-right: 0;
	}
	.col-1of3{
		width:50%;
	}
	img{
		width:100%;
	}
	img.menu{
		width:80%;
	}
	p.cartProw,p.cartNrow{
		width: 40%;
		font-size:0.1rem;
		margin-top: 0.2rem;
	}

	#content{
		padding-left: 0.5rem;
		padding-right:0.5rem;
	}
	header{
		padding-left: 0.5rem;
		width:100%;
	}
}



